* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 200px;
  height: 400px;
  border: black solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;

}

.left {
  align-self: flex-start;
  margin: 10px 0 0 20px;
  font-size: 30px;
}

.middle {
  align-self: center;
  flex-direction: column;
  display: flex;
  font-size: 70px;
}

.right {
  align-self: flex-end;
  margin: 0px 20px 10px 0;
  font-size: 30px;
  transform: rotate(180deg)
}

.spades, .clubs {
  color: black;
}

.hearts {
  color: red;
}

.rotate180 {
  transform: rotate(180deg);
}

.center {
  text-align: center;
}